#tiles_insertTemplate({"template":"../layout/zlt/template.vm"})#tiles_putAttribute({"name":"title", "value": "品牌管理"})#end #tiles_putAttribute({"name":"body"})


<form class="col s12" action="addBrand" method="post">
  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">添加品牌</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="row">
        <div class="row">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" maxlength="20" required="required" id="name" name="name">
            <label class="mdl-textfield__label" for="name">品牌名</label>
          </div>
        </div>
        <div class="row">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="website" name="website">
            <label class="mdl-textfield__label" for="website">官网网址</label>
          </div>
        </div>
        <div class="row">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          	<textarea class="mdl-textfield__input" type="text" rows= "5" maxlength="255" id="description" name="description"></textarea>
            <label class="mdl-textfield__label" for="description">品牌描述</label>
          </div>
        </div>
        <div class="row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
            <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" name="type" value="1">
            <span class="mdl-checkbox__label">在前台显示</span>
          </label>
        </div>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        OK
      </button>
    </div>
  </div>
</form>
#end #end
