#tiles_insertTemplate({"template":"../layout/zlt/template.vm"}) #tiles_putAttribute({"name":"title", "value": "修改品类"})#end #tiles_putAttribute({"name":"header"}) #parse("../layout/zlt/header.vm") #end #tiles_putAttribute({"name":"body"})
<form id="form" class="col s12" action="modifyGoods" method="post">
  <input type="hidden" name="id" value="$goods.id">
  <input type="hidden" name="serial_code" value="$goods.serial_code">
  <input type="hidden" name="store_id" value="$goods.store_id">
  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">修改商品 $goods.name</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="serial_code" name="serial_code" value="$goods.serial_code" disabled="true">
          <label class="mdl-textfield__label" for="serial_code">商品编码</label>
        </div>
      </div>
      <div class="row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="name" name="name" value="$goods.name">
          <label class="mdl-textfield__label" for="name">商品名</label>
        </div>
      </div>
      <div class="row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="description" name="description" value="$goods.description">
          <label class="mdl-textfield__label" for="description">商品描述</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select name="category_id" id="category_id">
          <option value="$category.id">$category.name</option>
        #foreach($c in $categoryList)
        <option value="$c.id">$c.name</option>
        #end
      </select>
          <label>品类</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select name="brand_id" id="brand_id">
          <option value="$brand.id">$brand.name</option>
        #foreach($b in $brandList)
        <option value="$b.id">$b.name</option>
        #end
      </select>
          <label>品牌</label>
        </div>
      </div>
      <div class="row">
        <div style="width:30%;float:left;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" value="$goods.weight" required="required" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" pattern="-?[0-9]*(\.[0-9]+)?" id="weight" name="weight">
            <label class="mdl-textfield__label" for="weight">重量 kg</label>
            <span class="mdl-textfield__error">请输入数字</span>
          </div>
        </div>
        <div style="width:30%;float:left;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" value="$goods.stock_count" required="required" id="stock_count" name="stock_count" type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" pattern="-?[0-9]*(\.[0-9]+)?">
            <label class="mdl-textfield__label" for="stock_count">库存量</label>
            <span class="mdl-textfield__error">请输入数字</span>
          </div>
        </div>
        <div style="width:30%;float:left;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required="required" value="$goods.pre_sale_number" id="pre_sale_number" name="pre_sale_number" type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" pattern="-?[0-9]*(\.[0-9]+)?">
            <label class="mdl-textfield__label" for="pre_sale_number">预售量</label>
            <span class="mdl-textfield__error">请输入数字</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div style="width:25%;float:left;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required="required" value="$goods.mid_user_price" id="mid_user_price" name="mid_user_price" type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" pattern="-?[0-9]*(\.[0-9]+)?">
            <label class="mdl-textfield__label" for="mid_user_price">中介价</label>
            <span class="mdl-textfield__error">请输入数字</span>
          </div>
        </div>
        <div style="width:25%;float:left;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required="required" value="$goods.market_price" id="market_price" name="market_price" type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" pattern="-?[0-9]*(\.[0-9]+)?">
            <label class="mdl-textfield__label" for="market_price">市场价</label>
            <span class="mdl-textfield__error">请输入数字</span>
          </div>
        </div>
        <div style="width:25%;float:left;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required="required" value="$goods.real_price" id="real_price" name="real_price" type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" pattern="-?[0-9]*(\.[0-9]+)?">
            <label class="mdl-textfield__label" for="real_price">真实价格</label>
            <span class="mdl-textfield__error">请输入数字</span>
          </div>
        </div>
        <div style="width:25%;float:left;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required="required" value="$goods.redeem_point" id="redeem_point" name="redeem_point" type="text" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');" pattern="-?[0-9]*(\.[0-9]+)?">
            <label class="mdl-textfield__label" for="redeem_point">积分</label>
            <span class="mdl-textfield__error">请输入数字</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="store_id" name="store_id" value="$goods.store_id" disabled="true">
          <label class="mdl-textfield__label" for="store_id">商店id</label>
        </div>
      </div>
      <!-- <div class="row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="stand_id" name="stand_id" value="$goods.stand_id">
          <label class="mdl-textfield__label" for="stand_id">架id</label>
        </div>
      </div> -->
      <input type="hidden" value="0">
      <div class="row">
        <!-- Image card -->
        <style>
          .demo-card-image.mdl-card {
            width: 256px;
            height: 256px;
            background: url('$goods.image_path') center / cover;
          }

          .demo-card-image>.mdl-card__actions {
            height: 52px;
            padding: 16px;
            background: rgba(0, 0, 0, 0.2);
          }

          .demo-card-image__filename {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
          }
        </style>

        <div class="demo-card-image mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">Image.jpg</span>
          </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="image_path" name="image_path" value="$goods.image_path">
          <label class="mdl-textfield__label" for="image_path">图片</label>
        </div>
      </div>
      <div class="row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="default_express" name="default_express" value="$goods.default_express">
          <label class="mdl-textfield__label" for="default_express">默认快递</label>
        </div>
      </div>
      <div class="row">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="is_dividable-checkbox">
          <input type="checkbox" id="is_dividable-checkbox" class="mdl-checkbox__input" name="is_dividable" value="1">
          <span class="mdl-checkbox__label">可以分单</span>
        </label>
        <script type="text/javascript">
          if ($goods.is_dividable == true)
            document.getElementById("is_dividable-checkbox").checked = true;
        </script>
      </div>

    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      修改
    </button>
    <script type="text/javascript">
      function downStand() {
        document.getElementById("stand_id").value = 0;
        document.getElementById("form").submit();
      }
    </script>
    <button type="button" onclick="deleteGoods();" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      删除
    </button>
    <script type="text/javascript">
      function deleteGoods() {
        document.getElementById("form").action = "deleteGoods";
        document.getElementById("form").submit();
      }
    </script>
  </div>
</form>
#end #tiles_putAttribute({"name":"footer"}) #parse("../layout/zlt/footer.vm") #end #end
