#tiles_insertTemplate({"template":"../layout/zjh/template.vm"})
  #tiles_putAttribute({"name":"title", "value": "首页"})#end
  #tiles_putAttribute({"name":"header"})
  	#parse("../layout/zjh/header.vm")
  #end
  #tiles_putAttribute({"name":"body"})
    #parse("body.vm")
  #end
  #tiles_putAttribute({"name":"footer"})
    #parse("../layout/zjh/footer.vm")
  #end
#end