#tiles_insertTemplate({"template":"../layout/zjh/index_template.vm"})
	#tiles_putAttribute({"name":"title", "value": "商品搜索"})#end
	#tiles_putAttribute({"name":"body"})
	<link rel="stylesheet" href="#springUrl('/resources/css/zjh/search.css')">
	<script type="text/javascript" src="#springUrl('/resources/js/zjh/search.js')"></script>
		<div id="header">
			<div id="header-left">
				<img src="#springUrl('/resources/images/zjh/returnPointer.png')" onclick="window.history.back();">	
			</div>
			<div id="header-right">
	        	<form id="search-form" action="#springUrl('/index/search')" method="post" >
	  				<input type="text" name="name" placeholder="搜索商品"/>
	      			<img src="#springUrl('/resources/images/zjh/search-1.png')" onclick="submitSearchForm()"/>
	            </form>
            </div>
		</div>
		<div id="order-div">
			<ul>
				<li id="comprehensive-ul-li">综合<span>▼</span>
					<ul id="comprehensive-ul-li-ul">
						<li><a href="javascript:void(0)">综合排序</a></li>
						<li><a href="javascript:void(0)">新品优先</a></li>
						<li><a href="javascript:void(0)">评论数从高到低</a></li>
					</ul>
				</li>
			</ul>
			<a id="orderByPreSaleNumber" href="javascript:void(0)" onclick="orderByPreSaleNumber()">销量</a>
			<a id="orderByRealPriceDesc" href="javascript:void(0)" onclick="orderByRealPrice('0')">价格&nbsp;↓</a>
			<a id="orderByRealPriceAsc" href="javascript:void(0)" onclick="orderByRealPrice('1')">价格&nbsp;↑</a>
		</div>
		<div id="choose-type-div">
			<button id="brandButton">品牌</button>
			<button id="typeButton">分类</button>
			<button id="filterButton">多条件</button>
		</div>

		<div id="goods-list-content">
			#if($goodsList)
            	<input type="hidden" id="hiddenGoodsListLength" value="${goodsList.size()}"/>
				#foreach($goods in $goodsList)
					#set($hrefGoodsSerialCode="/index/goodsDetail/"+$goods.id)
					<div id="goods-item-content">
						<div id="goods-img-content">
							<a href="#springUrl($hrefGoodsSerialCode)">
								<img src="#springUrl($goods.image_path)"/>
							</a>
						</div>
						<div id="goods-message-content">
							<a href="#springUrl($hrefGoodsSerialCode)">
								<p>$goods.description</p>
								<p>￥ $goods.real_price</p>
							</a>
							<span>
								<a href="#springUrl($hrefGoodsSerialCode)">
								销量:&nbsp; $goods.pre_sale_number
								</a>
							</span>
							<span>
								<input type="hidden" value="$goods.id"/>
		                   		<input type="hidden" value="$goods.real_price"/>
		                   		<input type="hidden" value="$goods.serial_code"/>
		                   		<input type="hidden" value="$goods.stock_count"/>
		                   		<input type="hidden" value="#springUrl($goods.image_path)"/>
								<img class="addShoppingCartImg" src="#springUrl('/resources/images/zjh/goods-ShoppingCart.png')"/>
							</span>
						</div>
					</div>
				#end
			#end
		</div>


		<div id="shoppingCart-modal">
			<div id="shoppingCart-content">
				<input id="hiddenGoodsId" type="hidden" value=""/>
				<div id="shoppingCart-header">
					<img id="shoppingCart-Goods-picture"/>
					<span>￥ <b id="shoppingCart-goods-price"></b></span>
					<span>商品编号: <span id="shoppingCart-goods-serial-code"></span></span>
					<span>库存 <b id="shoppingCart-goods-stockCount"></b> 件</span>
					<span id="shoppingCart-exit-span">
						×
					</span>
				</div>
				<div id="shoppingCart-middle">
					<div id="shoppingCart-middle-number">
						<span>数量</span>
						<span>
							<button id="numberDownwardButton">-</button>  
							<button id="numberButton">1</button>
							<button  id="numberUpwardButton">+</button>
						</span>
					</div>
					<div id="shoppingCart-middle-all-price">
						<span>总价：<b>￥</b></span>
						<span id="shoppingCart-middle-all-price-span"></span>
					</div>
				</div>
				<div id="shoppingCart-footer">
					<button class="shoppingCart-footer-button firstButton">购&nbsp;&nbsp;买</button>
					<button class="shoppingCart-footer-button secondButton" onclick="addGoodsToShoppingCart()">加入购物车</button>
				</div>
			</div>
		</div>

		<div id="brand-modal">
			<div id="brand-position">
				<div class="each-brand-div">
					<input type="radio" name="brandradio" value="all"/>
					<span>全部品牌</span>
				</div>
				#if($brandList)
					#foreach($brand in $brandList)
					<div class="each-brand-div">
						<input type="radio" name="brandradio" value="$brand.id"/>
						<span>$brand.name</span>
					</div>
					#end
				#end
				<div class="brand-button-div">
					<input type="reset" value="重&nbsp;&nbsp;置" onclick="resetRadioBrand()">
					<input type="button" value="确&nbsp;&nbsp;定" onclick="sortByBrandId()"/>
				</div>
			</div>
		</div>

		<div id="type-modal">
			<div id="type-position">
				<div class="each-type-div">
					<input type="radio" name="typeradio" value="all"/>
					<span>全部分类</span>
				</div>
				#if($categoryList)
					#foreach($category in $categoryList)
					<div class="each-type-div">
						<input type="radio" name="typeradio" value="$category.id"/>
						<span>$category.name</span>
					</div>
					#end
				#end
				<div class="type-button-div">
					<input type="reset" value="重&nbsp;&nbsp;置" onclick="resetRadioType()">
					<input type="button" value="确&nbsp;&nbsp;定" onclick="sortByCategoryId()">
				</div>
			</div>
		</div>

		<div id="filter-modal">
			<div id="filter-position">
				#if($brandList)
					<div id="filter-brand-div">
						品牌<br/>
						<div class="filter-each-brand-div">
							<span>
								<input type="radio" name="filterbrandradio" value="all"/>全部品牌
							</span>
						</div>
						#foreach($brand in $brandList)
							<div class="filter-each-brand-div">
								<span>
									<input type="radio" name="filterbrandradio" value="$brand.id"/>$brand.name
								</span>
							</div>
						#end
					</div>
				#end

				#if($categoryList)
					<div id="filter-type-div">
						类型<br/>
						<div class="filter-each-type-div">
							<span>
								<input type="radio" name="filtertyperadio" value="all"/>全部分类
							</span>
							</div>
						#foreach($category in $categoryList)
							<div class="filter-each-type-div">
								<span>
									<input type="radio" name="filtertyperadio" value="$category.id"/>$category.name
								</span>
							</div>
						#end
					</div>
				#end
					
				<div class="filter-button-div">
					<input type="reset" value="重&nbsp;&nbsp;置" onclick="resetRadioBrandType()">
					<input type="button" value="确&nbsp;&nbsp;定" onclick="sortByCategoryIdAndBrandId()">
				</div>
			</div>
		</div>
	#end
#end